<section class="background fullscreen" ng-controller="loginCtrl">
    <div class="login-box">
        <div class="login-logo">
            <h3 class="login-title">Login</h3>
        </div>
        <!-- /.login-logo -->
        <div class="">
            <div class="form-group">
                <form role="form">
                    <input type="text" required ng-model="userId" class="form-control login-input" placeholder="Tips:username"/>
                    <input type="password" required ng-model="password" class="form-control login-input" placeholder="Tips:password!"/>
                    <button type="submit" id="supportLoginBtn" class="btn btn-lg btn-primary btn-block btn-login btn-action" ng-click="login()">Submit</button>
                </form>
            </div>

    </div>
        </div>
</section>
