<section class="content-header">
    <h1>
        信息模版
    </h1>
    <a href="http://lica4-w7:80">编辑后台</a>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Dashboard</a></li>
        <li class="active">信息模版</li>
    </ol>
</section>
<!-- Main content -->
<section class="content" ng-controller="CompanyTemplateController">
    <toaster-container toaster-options="{'time-out': 3000, 'animation-class': 'geo-toast-top-right'}"></toaster-container>
    <div ui-grid="companyTemplateGrid" ui-grid-edit ui-grid-resize-columns></div>
</section>
